<div  class="container recuadro">
  <form [formGroup]="info" novalidate (ngSubmit)="loguear()">
      <h2>Login</h2>
      <br>
      <div>
          <div class="form-group">
              <label for="icorreo">EMAIL: </label>
              <input type="email" class="form-control" id="icorreo" formControlName="correo" placeholder="Escribe tu email" maxlength="255" [autofocus]>
              <small *ngIf="submitted && form.correo.errors"  class="text-danger">
                  <span *ngIf="form.correo.errors.required">Debes informar el email</span>
                  <span *ngIf="form.correo.errors.email || form.correo.errors.pattern" >El email informado no es válido</span>
              </small>
          </div>

          <div class="form-group">
              <label for="iclave">CONTRASEÑA: </label>
              <input type="password" class="form-control" id="iclave" formControlName="clave" placeholder="Escribe tu clave">
              <small *ngIf="submitted && form.clave.errors"  class="text-danger">
                  <span *ngIf="form.clave.errors.required">Debes informar la clave</span>
              </small>
          </div>
      </div>
      <div >
          <button type="submit" class="btn btn-outline-success btn-lg btn-block">Ingresar</button>
      </div>
    </form>
</div>
